body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.formulario h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    border-bottom: 1px solid #333;
    color: #f1f1f1;
}

.username{
    position: relative;
    border-bottom: 2px solid #444;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 0 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #aaa;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: ' ';
    position: absolute;
    top: 40px;
    left: 0px;
    width: 0%;
    height: 2px;
    background: #f8f0f0;
    transition: .5s;
}

.username input:focus ~ label,
.username input:valid ~ label {
    top: -7px;
    color: #bbb;
}

.username input:focus ~ span::before{
    width: 100%;
}

.iniciarSesion{
    margin: 30px 0;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #333;
}

.iniciarSesion .btn{
    width: 100%;
    padding: 5%;
    font-size: 16px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.iniciarSesion .btn:hover{
    background: #555;
}

.olvideContraseña {
    margin: 10px 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 14px; 
    border-bottom: 1px solid #333;
    color: #ccc; /* MÁS CLARO */
}

.linkBtn {
    background: none;
    border: none;
    color: #c5c5c5;
    cursor: pointer;
    text-decoration: underline;
}

.linkBtn:hover{
    color: #fdfdff;
}